<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleBlogCards.css">
    <title>Document</title>
</head>
<body>
    
    <%blogs.forEach(b=>{%>
        
        <div class="blog-item">
            <a href="#">
                <div class="icon">
                    <img width="60" height="60"  src="/uploads/<%= b.image %>" alt="">
                </div>
                <div class="content">
                     <div class="title"><%= b.title %>  <span class="blog-date">By  <%=b.author%></span> </div>
                    <div class="rounded"></div>
                    
                    <p>
                       <%=b.description%>
                    </p>
                </div>
                
                <div class="item-arrow">
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </div>
            </a>
            
        </div>
        <%})%>

</body>
</html>