<!DOCTYPE html>
<html lang="en">

<head>
	<!--====== Required meta tags ======-->
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<!--====== Title ======-->
	<title> MKE's Blogs </title>
	<!--====== Favicon Icon ======-->
	<link rel="shortcut icon" href="../assets/img/mke-logo.png" type="img/png" />
	<!--====== Animate Css ======-->
	<link rel="stylesheet" href="../assets/css/animate.min.css">
	<!--====== Bootstrap css ======-->
	<link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
	<!--====== Fontawesome css ======-->
	<link rel="stylesheet" href="../assets/css/font-awesome.min.css" />
	<!--====== Magnific Popup css ======-->
	<link rel="stylesheet" href="../assets/css/magnific-popup.css" />
	<!--====== Slick  css ======-->
	<link rel="stylesheet" href="../assets/css/slick.css" />
	<!--====== Nice Select ======-->
	<link rel="stylesheet" href="../assets/css/jquery-nice-select.min.css" />
	<!--====== Style css ======-->
	<link rel="stylesheet" href="../assets/css/style.css" />
</head>

<body>
	<!--====== Header part start ======-->
	<%- include('header') %>
	<!--====== Header part end ======-->

	<!--====== Comtact Section Start ======-->
	<section class="contact-section">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-lg-6 col-md-8">
					<div class="about-img">
						<img src="./assets/img/image-box/addBlog.jpg" alt="Image">
					</div>
				</div>
				<div class="col-lg-6 col-md-10">
					<div class="contact-text">
						<h4 class="title">
							Add your blogs and share your ideas
						</h4>
						
						<div class="contact-form">
							<form method="post" action="/createBlog2" enctype="multipart/form-data">
								<div class="row">
									<div class="col-lg-6">
										<input type="text" name="title" placeholder="Title*">
									</div>
									<div class="col-12">
										<textarea placeholder="Small description" name="description"></textarea>
									</div>
									<div class="col-12">
										<textarea placeholder="Blog Details" name="blogDetails"></textarea>
									</div>
									<div class="col-lg-6">
										<input type="file"  name="image">
									</div>
									<div class="col-12 text-center">
										<button type="submit">Submit</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--====== Comtact Section End ======-->

	

	<!--====== Footer Area Start ======-->
	<%- include('footer') %>
	<!--====== Footer Area End ======-->

	<!--====== jquery js ======-->
	<script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
	<script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
	<!--====== Bootstrap js ======-->
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<!--====== Slick js ======-->
	<script src="assets/js/slick.min.js"></script>
	<!--====== Images Loaded ======-->
	<script src="assets/js/imagesloaded.pkgd.min.js"></script>
	<!--====== Isotope js ======-->
	<script src="assets/js/isotope.pkgd.min.js"></script>
	<!--====== Magnific Popup js ======-->
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<!--====== Nice Select js ======-->
	<script src="assets/js/jquery.nice-select.min.js"></script>
	<!--====== Main js ======-->
	<script src="assets/js/main.js"></script>
</body>

</html>