<header class="sticky-header">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between">
            <div class="site-logo">
                <a href="/home"><img height="50" src="../assets/img/mke-logo.png" alt="Genial"></a>
            </div>
            <div class="header-right">

                <%if(token){%>
                
                
                <div >
                    <a href="/logout" class="logout-cart-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"/></svg>
                        
                    </a>
                </div>
                <div >
                    <a href="/profile" class="logout-cart-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
                    </a>
                </div>
                <%} else{%>
                <div >
                    <a href="/authentication" class="logout-cart-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512"><path d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM504 312V248H440c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V136c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H552v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/></svg>
                    </a>
                </div>
                <%}%>
                <div class="offcanvas-panel">
                    <a href="javascript:void(0)" class="panel-btn">
                        <span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </a>
                    <div class="panel-overly"></div>
                    <div class="offcanvas-items">
                        <!-- Navbar Toggler -->
                        <a href="javascript:void(0)" class="panel-close">
                            Back <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>

                        <ul class="offcanvas-menu">
                            <li>
                                <a href="/home">Home</a>
                                
                            </li>
                            <li><a href="/addBlog">Add Blog</a></li>
                            <li><a href="/profile">My Blogs</a></li>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/comingSoon">Photo Stories</a></li>
                            <li><a href="/comingSoon">Contact</a></li>
                        </ul>

                        <div class="social-icons">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>