<!DOCTYPE html>
<html lang="en">

<head>
	<!--====== Required meta tags ======-->
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<!--====== Title ======-->
	<title>  Login/Register </title>
	<!--====== Favicon Icon ======-->
	<link rel="shortcut icon" href="assets/img/favicon.ico" type="img/png" />
	<!--====== Animate Css ======-->
	<link rel="stylesheet" href="assets/css/animate.min.css">
	<!--====== Bootstrap css ======-->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
	<!--====== Fontawesome css ======-->
	<link rel="stylesheet" href="assets/css/font-awesome.min.css" />
	<!--====== Magnific Popup css ======-->
	<link rel="stylesheet" href="assets/css/magnific-popup.css" />
	<!--====== Slick  css ======-->
	<link rel="stylesheet" href="assets/css/slick.css" />
	<!--====== Nice Select ======-->
	<link rel="stylesheet" href="assets/css/jquery-nice-select.min.css" />
	<!--====== Style css ======-->
	<link rel="stylesheet" href="assets/css/style.css" />
</head>

<body>
	

	<!--====== Header part start ======-->
   <%- include('header') %>
	<!--====== Header part end ======-->

    <!--====== Shop Wrapper Start ======-->
    <section class="shopping-login-page">
        <div class="container">
            <div class="login-wrapper">
                <div class="row no-gutters">
                    <!-- Login -->
                    <div class="col-lg-6">
                        <div class="login-box">
                            <div class="form-title">
                                <h3>Login</h3>
                                <p>I'm an existing customer and would like to login.</p>
                            </div>
                            <form action="/login" method="post" enctype="multipart/form-data" class="login-form">
                                <p>
                                    <label for="username">email address<span class="required">*</span></label>
                                    <input type="text" name="email"  id="username" required>
                                </p>
                                <p>
                                    <label for="password">Password<span class="required">*</span></label>
                                    <input type="password" name="password"  id="password" required>
                                </p>
                                <p class="d-flex justify-content-between">
                                    <span class="form-remember">
                                        <input type="checkbox" id="rememberme">
                                        <label for="rememberme">Remember me </label>
                                    </span>
                                    <span>
                                        <a href="#">Lost your password?</a>
                                    </span>
                                </p>
                                <p class="text-center">
                                    <button type="submit" class="form-btn">Login</button>
                                </p>
                            </form>
                        </div>
                    </div>
                    <!-- Register -->
                    <div class="col-lg-6">
                        <div class="reg-box">
                            <div class="form-title">
                                <h3>Register</h3>
                                <p>I'm a new customer and would like to register.</p>
                            </div>
                            <form action="/register" method="post" enctype="multipart/form-data" class="login-form">
                                <p>
                                    <label for="email">Email address<span class="required">*</span></label>
                                    <input type="email" name="email" id="email" required>
                                </p>
                                <p>
                                    <label for="Username">Username<span class="required">*</span></label>
                                    <input type="text" name="username" id="Username" required>
                                </p>
                                <p>
                                    <label for="reqpassword">Password<span class="required">*</span></label>
                                    <input type="password"  name="password" id="reqpassword" required>
                                </p>
                                <p>
                                    <label for="file">Image<span class="required">*</span></label>
                                    <input type="file" name="avatar" id="file" required>
                                </p>
                                <p class="text-center">
                                    <button type="submit" class="form-btn">Register</button>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Shop Wrapper End ======-->

    

    <!--====== Footer Area Start ======-->
    <%- include('footer') %>
    <!--====== Footer Area End ======-->

	<!--====== jquery js ======-->
	<script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
	<script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
	<!--====== Bootstrap js ======-->
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<!--====== Slick js ======-->
	<script src="assets/js/slick.min.js"></script>
	<!--====== Images Loaded ======-->
	<script src="assets/js/imagesloaded.pkgd.min.js"></script>
	<!--====== Isotope js ======-->
	<script src="assets/js/isotope.pkgd.min.js"></script>
	<!--====== Magnific Popup js ======-->
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<!--====== Nice Select js ======-->
	<script src="assets/js/jquery.nice-select.min.js"></script>
	<!--====== Main js ======-->
	<script src="assets/js/main.js"></script>
</body>

</html>