<!DOCTYPE html>
<html lang="en">

<head>
	<!--====== Required meta tags ======-->
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<!--====== Title ======-->
	<title> MKE's Blogs </title>
	<!--====== Favicon Icon ======-->
	<link rel="shortcut icon" href="../assets/img/mke-logo.png" type="img/png" />
	<!--====== Animate Css ======-->
	<link rel="stylesheet" href="../assets/css/animate.min.css">
	<!--====== Bootstrap css ======-->
	<link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
	<!--====== Fontawesome css ======-->
	<link rel="stylesheet" href="../assets/css/font-awesome.min.css" />
	<!--====== Magnific Popup css ======-->
	<link rel="stylesheet" href="../assets/css/magnific-popup.css" />
	<!--====== Slick  css ======-->
	<link rel="stylesheet" href="../assets/css/slick.css" />
	<!--====== Nice Select ======-->
	<link rel="stylesheet" href="../assets/css/jquery-nice-select.min.css" />
	<!--====== Style css ======-->
	<link rel="stylesheet" href="../assets/css/style.css" />
</head>

<body>
	<!--====== Header part start ======-->
	<header class="sticky-header">
		<div class="container-fluid">
			<div class="d-flex align-items-center justify-content-between">
				<div class="site-logo">
					<a href="/home"><img height="50" src="../assets/img/mke-logo.png" alt="Genial"></a>
				</div>
				<div class="header-right">
					
					<div >
						<a href="/logout" class="logout-cart-btn">
							<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"/></svg>
							
						</a>
					</div>
					<div >
						<a href="/profile" class="logout-cart-btn">
							<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
						</a>
					</div>
					<div class="offcanvas-panel">
						<a href="javascript:void(0)" class="panel-btn">
							<span>
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<div class="panel-overly"></div>
						<div class="offcanvas-items">
							<!-- Navbar Toggler -->
							<a href="javascript:void(0)" class="panel-close">
								Back <i class="fa fa-angle-right" aria-hidden="true"></i>
							</a>

							<ul class="offcanvas-menu">
								<li>
									<a href="/home">Home</a>
									
                                </li>
                                <li><a href="/addBlog">Add Blog</a></li>
								<li><a href="/profile">My Blogs</a></li>
								<li><a href="/about">About Us</a></li>
								<li><a href="/comingSoon">Photo Stories</a></li>
								<li><a href="/comingSoon">Contact</a></li>
							</ul>

							<div class="social-icons">
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-youtube"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!--====== Header part end ======-->

    <!--====== Shop Wrapper Start ======-->
    <section class="shop-wrapper section-gap-80-120" style="padding-top: 0;">
        <!-- profile img ,username -->
        <div class="container-fluid" >
            
            <div class="post-details">
                <div class="entry-footer" style="padding-top: 0; top: 0;">
                    
                    <div class="post-author">
                        <div class="author-img">
                            <img src="assets/img/post-details/post-author.png" alt="PostAuthor">
                        </div>
                        <h5><a href="#">Maisha Smith</a></h5>
                        
                    </div>
                    <div class="social-share"></div>
                </div>
            </div>
            <!--End profile img ,username -->
            
            <div class="product-area">
                <div class="product-loop row justify-content-center">
                <%filteredBlogs.forEach(b=>{%>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="single-product">
                            <div class="product-thumb">
                                <img src="/uploads/<%= b.image %>" alt="ProductImage">                              
                            </div>
                            <h5 class="title"><a href="product-details.html"><%= b.title %> </a></h5>
                            <div class="product-action">
                                <div class="icon">
                                    <span class="currency">-</span>
                                    <span class="plus-icon">+</span>
                                </div>
                                <div class="hover-icon">                                  
                                    <a href="" class="add-to-cart delete" data-id="<%= b.id %>">Delete</a>
                                    <a href="/editMyBlogs/<%= b.id %>" class="add-to-cart">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                <%})%>    
                    
                </div>              
            </div>
        </div>
    </section>
    <!--====== Shop Wrapper End ======-->

   

    <!--====== Footer Area Start ======-->
    <footer>
        <div class="footer-widgets-area">
            <div class="container container-1360">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="widget address-widget">
                            <h4 class="widget-title">Our Address</h4>
                            <p>Sydney, Australia Sheen Darus Salam. <br> 112/B, Road 8A, Dhanmondi.</p>
                            <p>+880-036987458765521 <br> example@yourmail.com</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="widget nav-widget">
                            <h4 class="widget-title">Quick Links</h4>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Stories</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="widget nav-widget">
                            <h4 class="widget-title">Categories</h4>
                            <ul>
                                <li><a href="#">Lifestyle</a></li>
                                <li><a href="#">Travel</a></li>
                                <li><a href="#">Food & Drinks</a></li>
                                <li><a href="#">Inspiration</a></li>
                                <li><a href="#">Decoration</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 ml-auto">
                        <div class="widget newsletter-widget">
                            <h4 class="widget-title">Our Monthly Newsletter </h4>
                            <p>
                                Sign Up TO Get Updates On Articles, Interviews And Events.
                            </p>
                            <form action="#">
                                <input type="email" placeholder="your email">
                                <button type="submit">Sign Up</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright-area">
            <div class="container container-1360">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-12">
                        <div class="social-links">
                            <ul>
                                <li class="title">Follow Me</li>
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">Facebook</a></li>
                                <li><a href="#">Youtube</a></li>
                                <li><a href="#">Instagram</a></li>
                                <li><a href="#">Linkedin</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="copyright-text text-lg-right">
                            <p><span>Copyright</span> - 2020 EasyArt theme by Easygoods</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--====== Footer Area End ======-->


    <script src="/js/index.js" defer></script>
	<!--====== jquery js ======-->
	<script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
	<script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
	<!--====== Bootstrap js ======-->
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<!--====== Slick js ======-->
	<script src="assets/js/slick.min.js"></script>
	<!--====== Images Loaded ======-->
	<script src="assets/js/imagesloaded.pkgd.min.js"></script>
	<!--====== Isotope js ======-->
	<script src="assets/js/isotope.pkgd.min.js"></script>
	<!--====== Magnific Popup js ======-->
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<!--====== Nice Select js ======-->
	<script src="assets/js/jquery.nice-select.min.js"></script>
	<!--====== Main js ======-->
	<script src="assets/js/main.js"></script>
</body>

</html>